<h1>About <%= @actor.name %>...</h1>
<h2>Name: <%= @actor.name %></h2>
<h4>Age: <%= @actor.age %></h4>
<h4>Will Get Naked?: <%= boolean_to_text(@actor.will_do_nude_scenes) %></h4>
<%= link_to 'Back', actors_path %>
